<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password Form</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <style>
      body {
        background: #e35869;
      }
      .pass_show {
        position: relative;
      }
      .mt-8 {
        margin-top: 4.5rem;
      }
      .pass_show #togglePassword {
        position: absolute;
        top: 50%;
        right: 10px;
        z-index: 1;
        color: #ff7300dc;
        margin-top: -10px;
        cursor: pointer;
        transition: 0.3s ease all;
      }
      .container {
        background-color: white;
        border-radius: 4px;
      }
      .pass_show #togglePassword:hover {
        color: #333333;
      }
      .btn.btn-primary {
        background: #2d3b55;
        border-color: #2d3b55;
        color: #fff;
        border-radius: 0 0 4px 4px;
      }
      .btn.btn-primary:hover {
        background: #3c4d6d;
      }

      .form-control {
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        padding: 0.375rem 0px;
      }
      .form-control:focus {
        box-shadow: 0 0 0 0.15rem #ced4da;
        border-bottom: #ced4da;
      }
    </style>
    <script>
      $(document).ready(function () {
        $(".pass_show").append(
          '<i class="far fa-eye" style="cursor: pointer" id="togglePassword"></i>'
        );
      });

      $(document).on("click", ".pass_show #togglePassword", function () {
        $(this)
          .prev()
          .attr("type", function (index, attr) {
            return attr == "password" ? "text" : "password";
          });

        $(this).attr("class", function (index, attr) {
          return attr == "far fa-eye" ? "far fa-eye-slash" : "far fa-eye";
        });
      });
    </script>
  </head>
  <body>
    <div class="container mt-8">
      <div class="row justify-content-center pt-3">
        <h4>Reset Password for {{username}}</h4>
      </div>
      <form id="resetForm" class="row" name="resetForm" action="" method="POST">
        <div class="col-12">
          <input type="hidden" name="Authorization" value="<Authorization>" />
          <label>New Password</label>
          <div class="form-group pass_show">
            <input
              required
              id="pasword"
              name="pasword"
              type="password"
              class="form-control"
              placeholder="New Password"
            />
          </div>
          <label>Confirm Password</label>
          <div class="form-group pass_show">
            <input
              required
              id="confirmpasword"
              name="confirmpasword"
              type="password"
              class="form-control"
              placeholder="Confirm Password"
            />
          </div>
          <div class="alert alert-danger d-none" role="alert" id="wrongPass">
            Please enter same pasword and confirm password.
          </div>
          <div class="alert alert-danger d-none" role="alert" id="minLength">
            Min length for password is 6.
          </div>
          <div class="row mt-4 mb-3">
            <div class="col">
              <p class="text-left" style="font-size: 14px">Password Strength</p>
            </div>
            <div class="col">
              <p
                class="d-none text-right pr-2 font-weight-bold"
                style="font-size: 14px"
                id="passwordStrength"
              >
                qweqe
              </p>
            </div>
          </div>
        </div>
        <button class="btn btn-primary w-100" type="submit">
          Reset Password
        </button>
        <script type="text/javascript">
          $("#pasword").on("input", function () {
            function capitalCase(str) {
              let result = false;
              str
                .split("")
                .forEach(
                  (element) =>
                    element === element.toUpperCase() && (result = true)
                );
              return result;
            }
            function textOrder(str) {
              return str == str.split("").sort().join("");
            }
            function testNumber(str) {
              var hasNumber = /\d/;
              return hasNumber.test(str);
            }
            function specialChracter(str) {
              const specialChars = /[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
              return specialChars.test(str);
            }

            let criteria = {
              capital: false,
              specialChracter: false,
              number: false,
              length: false,
            };

            let status = ["Strong", "Average", "Poor"];
            let Strength = "";
            let currentPassword = $("#pasword").val();
            Object.keys(criteria).map((w, i) => {
              i === 0 && (criteria[w] = capitalCase(currentPassword));
              i === 1 && (criteria[w] = specialChracter(currentPassword));
              i === 2 && (criteria[w] = testNumber(currentPassword));
              i === 3 && (criteria[w] = currentPassword.length > 6);
            });

            // do something
            let success = Object.values(criteria).filter((w) => w).length;

            if (success >= 4) {
              Strength = status[0];
            } else if (success > 2) {
              Strength = status[1];
            } else {
              Strength = status[2];
            }
            $("#passwordStrength").text(Strength);
            $("#passwordStrength").removeClass(
              "d-none text-success text-warning text-danger"
            );
            Strength.length > 0 &&
              $("#passwordStrength").addClass(
                Strength === status[0]
                  ? "text-success"
                  : Strength === status[1]
                  ? "text-warning"
                  : "text-danger"
              );
          });

          $("#resetForm").submit(function () {
            if (
              $.trim($("#pasword").val()).length < 6 ||
              $.trim($("#confirmpasword").val()).length < 6
            ) {
              $("#minLength").removeClass("d-none");
              setTimeout(function () {
                $("#minLength").addClass("d-none");
              }, 5000);
              return false;
            } else if (
              $.trim($("#pasword").val()) !== $.trim($("#confirmpasword").val())
            ) {
              $("#wrongPass").removeClass("d-none");
              setTimeout(function () {
                $("#wrongPass").addClass("d-none");
              }, 5000);
              return false;
            }
          });
        </script>
      </form>
    </div>
  </body>
</html>
