<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password Form</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <style>
      .pass_show {
        position: relative;
      }

      .pass_show .ptxt {
        position: absolute;

        top: 50%;

        right: 10px;

        z-index: 1;

        color: #f36c01;

        margin-top: -10px;

        cursor: pointer;

        transition: 0.3s ease all;
      }

      .pass_show .ptxt:hover {
        color: #333333;
      }
    </style>
    <script>
      $(document).ready(function () {
        $(".pass_show").append('<span class="ptxt">Show</span>');
      });

      $(document).on("click", ".pass_show .ptxt", function () {
        $(this).text($(this).text() == "Show" ? "Hide" : "Show");

        $(this)
          .prev()
          .attr("type", function (index, attr) {
            return attr == "password" ? "text" : "password";
          });
      });
    </script>
  </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <h4>Reset Password {{username}}</h4>
      </div>
      <form id="resetForm" class="row" name="resetForm" action="" method="POST">
        <div class="col-12">
          <input type="hidden" name="Authorization" value="<Authorization>" />
          <label>New Password</label>
          <div class="form-group pass_show">
            <input
              required
              id="pasword"
              name="pasword"
              type="password"
              class="form-control"
              placeholder="New Password"
            />
          </div>
          <label>Confirm Password</label>
          <div class="form-group pass_show">
            <input
              required
              id="confirmpasword"
              name="confirmpasword"
              type="password"
              class="form-control"
              placeholder="Confirm Password"
            />
          </div>
          <div class="alert alert-danger d-none" role="alert" id="wrongPass">
            Please enter same pasword and confirm password.
          </div>
          <div class="alert alert-danger d-none" role="alert" id="minLength">
            Min length for password is 6.
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Reset Password</button>
        <script type="text/javascript">
          $("#resetForm").submit(function () {
            if (
              $.trim($("#pasword").val()).length < 6 ||
              $.trim($("#confirmpasword").val()).length < 6
            ) {
              $("#minLength").removeClass("d-none");
              setTimeout(function () {
                $("#minLength").addClass("d-none");
              }, 5000);
              return false;
            } else if (
              $.trim($("#pasword").val()) !== $.trim($("#confirmpasword").val())
            ) {
              $("#wrongPass").removeClass("d-none");
              setTimeout(function () {
                $("#wrongPass").addClass("d-none");
              }, 5000);
              return false;
            }
          });
        </script>
      </form>
    </div>
  </body>
</html>
